.shirt-bg{
  background-image: url(../../images/titleback.jpg);
  background-attachment: fixed;
  background-position: center;
  margin-top: -16em;
  width: 100%;
  height: 100vh;
}

.shirt-bg li{
  padding-top: 30px;
}
.shirt-bg a{
  color:black;
  font-weight: bolder;
  cursor: pointer;
  font-size: 30px;
  border: 10px;
  text-decoration: wavy;
  background-color: gainsboro;
  background-image: linear-gradient(red, yellow);
  padding: 5px 11px;
  border-style: 2px solid;
  border-radius: 20px;
}

.shirt-bg a:hover{
  border:1px solid blue;
  background-image: linear-gradient(to right, red, orange);

}

.row{
  padding: 2em;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 50px 50px 50px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }